<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_number, '契約番号' %><br>
    <%= f.number_field :contract_number %>
  </div>
  <div class="field">
    <%= f.label :customer_id, '顧客番号' %><br>
    <%= f.number_field :customer_id %>
  </div>

  <div class="field">
    <%= f.label :group_ids, '依頼先' %><br>
    <%= f.collection_select :group_ids, @group, :id, :name, {}, {multiple: true} %>
  </div>

  <%= f.fields_for :order_attachments do |o| %>
  <div class="field">
  	<%= o.label :document %><br>
  	<%= o.file_field :document, multiple: true, name: "order_attachments[document][]"%>
  </div>
  <% end %>
  
<% if @order.new_record? %>
<% else %>
  <div class="field">
    <%= f.label :delivery_date, '予定納期' %><br>
    <%= f.date_select :delivery_date, :include_blank => true, :start_year => Date.today.year %>
  </div>
<% end %>
  <div class="field">
    <%= f.label :status, 'ステータス' %><br>
    <%= f.select :status, ['確認中', '着手中', '作業完了'] %>
  </div>
  <div class="field">
    <%= f.label :web_url %><br>
    <%= f.text_area :web_url %>
  </div>
<% if @order.new_record? %>
	<div>
	  <%= f.check_box 'user_ids', {:name => 'order[user_ids][]', :checked => true }, @user.id, nil %>
	  <%= @user.username %>
	</div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
