<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>契約番号</th>
      <th>顧客番号</th>
      <th>依頼先</th>
      <th>ステータス</th>
      <th>依頼日</th>
      <th>予定納期</th>
      <th>Web url</th>
      <th>依頼者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.contract_number %></td>
        <td><%= order.customer_id %></td>
        <td>
        <% order.groups.each do |group| %>
        	<%= group.name %>
        <% end %>
        </td>
        <td><%= order.status %></td>
        <td><%= order.created_at %></td>
        <td><%= order.delivery_date %></td>
        <td><%= order.web_url %></td>
        <td>
		<%= order.users.first.username %>
		</td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
