<p id="notice"><%= notice %></p>

<p>
  <strong>契約番号:</strong>
  <%= @order.contract_number %>
</p>

<p>
  <strong>顧客番号:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>依頼先:</strong>
  <%= @order.request_destination %>
</p>

<p>
  <strong>予定納期:</strong>
  <%= @order.delivery_date %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>作成日:</strong>
  <%= @order.created_at %>
</p>

<p>
  <strong>Web url:</strong>
  <%= @order.web_url %>
</p>

<p>
  <strong>作成者</strong>
  <% @order.users.each do |user| %>
  <%= user.username %>
  <% end %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
