<p id="notice"><%= notice %></p>

<p>
  <strong>Contract number:</strong>
  <%= @order.contract_number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Request destination:</strong>
  <%= @order.request_destination %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @order.delivery_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Create at:</strong>
  <%= @order.create_at %>
</p>

<p>
  <strong>Web url:</strong>
  <%= @order.web_url %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
