<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @commentattachment.comment_id %>
</p>

<p>
  <strong>Document:</strong>
  <%= @commentattachment.document %>
</p>

<%= link_to 'Edit', edit_commentattachment_path(@commentattachment) %> |
<%= link_to 'Back', commentattachments_path %>
